[Unit]
Description=amexio
#After=
#ConditionPathExists=
 
[Service]
Type=simple
User=amexDV
Group=amexDV
#EnvironmentFile=
#EnvironmentFile=
#ExecStartPre=
ExecStart=./startup.sh
ExecStop=./shutdown.sh
#ExecStopPost=
#RemainAfterExit=
Restart=always
 
[Install]
WantedBy=multi-user.target


root@vm-nuxeo:/# systemctl status cloud-config.service
● cloud-config.service - Apply the settings specified in cloud-config
   Loaded: loaded (/lib/systemd/system/cloud-config.service; enabled; vendor preset: enabled)
   Active: active (exited) since Wed 2022-10-26 09:59:32 CEST; 1h 30min ago
  Process: 1498 ExecStart=/usr/bin/cloud-init modules --mode=config (code=exited, status=0/SUCCESS)
 Main PID: 1498 (code=exited, status=0/SUCCESS)

oct. 26 09:59:31 vm-nuxeo systemd[1]: Starting Apply the settings specified in cloud-config...
oct. 26 09:59:32 vm-nuxeo cloud-init[1498]: Cloud-init v. 19.1-1-gbaa47854-0ubuntu1~18.04.1 running 'modules:config' at Wed, 26 Oct 2022 07:59:31 +0000. Up 13.43 seconds.
oct. 26 09:59:32 vm-nuxeo systemd[1]: Started Apply the settings specified in cloud-config.























#!/bin/sh
#
# This script activates storage at boot after the iSCSI login. It can
# be called from both the init script as well as the native systemd
# service.
#

PATH=/sbin:/bin

MULTIPATH=/sbin/multipath
VGCHANGE=/sbin/vgchange

if [ -f /etc/default/open-iscsi ]; then
        . /etc/default/open-iscsi
fi

# See if we need to handle LVM
if [ ! -x $VGCHANGE ] && [ -n "$LVMGROUPS" ]; then
        echo "Warning: LVM2 tools are not installed, not honouring LVMGROUPS." >&2
        LVMGROUPS=""
fi

# If we don't have to activate any VGs and are running systemd, we
# don't have to activate anything, so doing udevadm settle here and
# potentially sleeping (if multipath is used) will not be productive,
# because after waiting for both of these things, we will do nothing.
# Therefore just drop out early if that is the case.
if [ -d /run/systemd/system ] && [ -z "$LVMGROUPS" ] ; then
        exit 0
fi

# Make sure we pick up all devices
udevadm settle || true

# Work around race condition here: after udevadm settle it is
# guaranteed that all iSCSI disks have now properly appeared, but
# other dependent devices may not have. This can include multipath
# mappings of iSCSI devices (multipathd will race against udev for
# locking the underlying source block devices when it comes to














#!/bin/sh
#
# This script logs out from all active iSCSI sessions, excluding those
# listed in /run/open-iscsi/shutdown-keep-sessions. That file is
# generated by umountiscsi.sh and determines which sessions should not
# be terminated.
#

ISCSIADM=/sbin/iscsiadm
PIDFILE=/run/iscsid.pid

ISCSI_ROOT_KEEP_ALL_SESSIONS_AT_SHUTDOWN=0
if [ -f /etc/default/open-iscsi ]; then
        . /etc/default/open-iscsi
fi

if [ -f /etc/iscsi/iscsi.initramfs ] && [ $ISCSI_ROOT_KEEP_ALL_SESSIONS_AT_SHUTDOWN -eq 1 ]; then
        # Don't logout from any sessions if root is on initramfs and the
        # administrator wanted it that way.
        exit 0
fi

if [ ! -s $PIDFILE ] || ! kill -0 `sed -n 1p $PIDFILE` >/dev/null 2>/dev/null ; then
        # Don't logout from iSCSI sessions if daemon isn't running
        echo "iSCSI initiator daemon not running, not logging out from targets." >&2
        exit 1
fi

EXCLUDED_SESSIONS=""
if [ -f /run/open-iscsi/shutdown-keep-sessions ] ; then
        _EXCLUDED_SESSIONS=$(cat /run/open-iscsi/shutdown-keep-sessions)
        for s in ${_EXCLUDED_SESSIONS} ; do
                EXCLUDED_SESSIONS="${EXCLUDED_SESSIONS:+$EXCLUDED_SESSIONS }${s}"
        done
fi

# trivial case
if [ -z "$EXCLUDED_SESSIONS" ] ; then
        $ISCSIADM -m node --logoutall=all














tomcat start

#!/bin/sh

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# -----------------------------------------------------------------------------
# Start Script for the CATALINA Server
# -----------------------------------------------------------------------------

# Better OS/400 detection: see Bugzilla 31132
os400=false
case "`uname`" in
OS400*) os400=true;;
esac

# resolve links - $0 may be a softlink
PRG="$0"

while [ -h "$PRG" ] ; do
  ls=`ls -ld "$PRG"`
  link=`expr "$ls" : '.*-> \(.*\)$'`
  if expr "$link" : '/.*' > /dev/null; then
    PRG="$link"
  else
    PRG=`dirname "$PRG"`/"$link"
  fi
done





tomcat stop
#!/bin/sh

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# -----------------------------------------------------------------------------
# Stop script for the CATALINA Server
# -----------------------------------------------------------------------------

# Better OS/400 detection: see Bugzilla 31132
os400=false
case "`uname`" in
OS400*) os400=true;;
esac

# resolve links - $0 may be a softlink
PRG="$0"

while [ -h "$PRG" ] ; do
  ls=`ls -ld "$PRG"`
  link=`expr "$ls" : '.*-> \(.*\)$'`
  if expr "$link" : '/.*' > /dev/null; then
    PRG="$link"
  else
    PRG=`dirname "$PRG"`/"$link"
  fi
done


nuxeo#!/bin/bash
##
## (C) Copyright 2010-2015 Nuxeo SA (http://nuxeo.com/) and contributors.
##
## All rights reserved. This program and the accompanying materials
## are made available under the terms of the GNU Lesser General Public License
## (LGPL) version 2.1 which accompanies this distribution, and is available at
## http://www.gnu.org/licenses/lgpl-2.1.html
##
## This library is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## Contributors:
##     Julien Carsique
##     Florent Guillaume
##     Mathieu Guillaume
##
## Shell script calling a multi-OS Nuxeo Java launcher.
## Using explicitely bash to avoid dash which is not POSIX.
##

if [[ "x $@" =~ " -d" || "x $@" =~ " --debug" || -n "$LAUNCHER_DEBUG" ]]; then
  set -x
fi

MAX_FD_LIMIT_HELP_URL="https://doc.nuxeo.com/nxdoc/java.net.SocketException-too-many-open-files/"

: ${NUXEO_HOME:=$(cd "$(dirname "$0")"/..; pwd -P)}
: ${NUXEO_CONF:="$NUXEO_HOME"/bin/nuxeo.conf}

## Backward compatibility
cmdargs=( "$@" )
for ((i=0; i<$#; i++)); do
  if [ "${cmdargs[$i]}" = "nogui" ]; then
    cmdargs[$i]="--gui=false"
  elif [ "${cmdargs[$i]}" = "--debug-launcher" ]; then
    LAUNCHER_DEBUG="-Xdebug -Xrunjdwp:transport=dt_socket,address=8788,server=y,suspend=y"


